.DS_Store
.idea/modules.xml

.idea/vcs.xml

.idea/web.gotuktuk.in.iml

.idea/workspace.xml

invoice/node_modules/

invoice/package.json
.idea/.name

home/.DS_Store

share/.idea/modules.xml

share/.idea/share.iml

share/.idea/workspace.xml

.idea/scopes/scope_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/misc.xml

mika/.idea/workspace.xml

*.xml
