body {
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;
    line-height: 1.6;
    /*padding-top: 95px;*/
    /*background-image: url("../images/map.png");*/
    /*background-position: center top;*/
    /*background-repeat: no-repeat;*/
}
header {
    background-attachment: scroll;
    background-image: url("../images/header-bg.jpg");
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
}
header .intro-text {
    padding-bottom: 200px;
    padding-top: 300px;
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.printOnly {
    display: none;
    visibility: hidden;
}
@media print {
    body{padding: 0;}
    .navbar, footer, header {
        display: none;
        visibility: hidden;
    }
    .printOnly {
        display: block;
        visibility: visible;
    }
}
.navbar-default {
    background: url("../images/header-bg.png");
    border-color: transparent;
    background-size: contain;
    border: none;
    /*height: 200px;*/
}
.navbar-header{
    min-height: 120px;
}
.navbar-brand {
     height: auto;
    padding: 15px 0 0;
}
a:focus, a:hover {
    color: #000000;
    text-decoration: none;
}
.b47TT-privacy, .b47TT-terms{
    font-family: "Times New Roman", Georgia, Serif !important;
    font-size: 22px !important;
    line-height: 1.5 !important;
}
/*slider*/
.nav-tabs {
    position: absolute;
    z-index: 99999999999999999;
    left: 110px;
    top: -6px;
    border-bottom:none;
}

.nav-tabs>li:hover.active a {
    color: #fff;
}
.nav-tabs>li:first-child {
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    width:80px;
}
.nav-tabs>li:last-child {
    float: left;
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    width:80px;
}
.nav-tabs>li a {
    border: none;
    padding: 2px 20px;
    margin-right: 0px;
    border-radius: 0;
    color:#333;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
     background: none;
    color:#fff;
}
.nav-tabs>li.active {
    background-color: #333;
}
.nav-tabs>li.active a, .nav-tabs>li:focus a{
    color: #fff;
}
.nav-tabs>li:hover.active {
    background-color: #333;
}
.nav-tabs>li:hover {
    background-color: #333;
}
.nav-tabs>li:hover a{
    color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    color: #fff;
}
.carousel {
    height: 344px;
    left: 65px;
    position: absolute;
    top: 105px;
    width: 219px;
}
.carousel .item { height: 376px;}
.carousel-control.left, .carousel-control.right {background: transparent;}
.prev {background: rgba(0, 0, 0, 0) url("../images//bg_direction_nav.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 74px;
    left: -70px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    width: 40px;}
.next {background: rgba(0, 0, 0, 0) url("../images//bg_direction_nav.png") no-repeat scroll 100% 0;
    border: medium none;
    cursor: pointer;
    display: block;
    height: 74px;
    opacity: 1;
    right: -70px;
    transition: all 0.3s ease 0s;
    width: 40px;}
.carousel-control {opacity: 1; height: 75px; width: auto;}
.carousel-control.left {top:40%; left:-75px;}
.carousel-control.right {top:40%; right:-75px;}

/*end*/
sup {
    font-size: 10px !important;
    top: -18px !important;
}
.h1, h1 {
    font-size: 36px;
}
.h2, h2 {
    font-size: 30px;
}
.h3, h3 {
    font-size: 26px;
}
.h4, h4 {
    font-size: 22px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 15px;
    margin-top: 25px;
    font-weight: normal;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: normal;
}
p {
    margin: 10px 0;
}
.b47TT-mApp-img {
    margin-top: -75px;
}
.b47TT-about-quad {
    margin-top: 30px;
    margin-bottom: 6%;
    padding-bottom: 0;
}

.b47TT-yellow-card1 {
    background: #FFED51;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    display: inline-block;
    padding: 0 10px;
    line-height: 36px;
}

.b47TT-yellow-card1 span {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    display: inline-block
}

.b47TT-cyan-card1 {
    background: #66D4F9;
    transform: rotate(4deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    display: inline-block;
    padding: 0 10px;
    line-height: 36px;
}

.b47TT-cyan-card1 span {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    display: inline-block
}
footer{background: #fff}
.b47TT-footer-quad {
    background: #fff;
    padding: 20px 0;
    border-top:1px solid #ddd;
}

.b47TT-footer-quad li:first-child {
    margin-top: 0
}

.b47TT-footer-quad li {
    color: #333;
    font-size: 13px;
    margin-top: 8px
}

.b47TT-footer-quad li a, .b47TT-footer-quad a, .b47TT-footer-quad span {
    font-size: 13px;
    line-height: 26px;
    padding: 0 4px;
}
.b47TT-footer-quad li a:hover{
    color: #000;
}

.b47TT-socialLinks:first-child {
    margin-left: 0
}

.b47TT-copyrightText {
    color: #333;
    display: block;
    font-size: 14px;
    margin-top: 5px
}

.b47TT-footer-quad li a {
    color: #333;
    font-size: 14px;
    line-height: 22px;
}

.b47TT-footer-quad li a:hover {
    color: #000;
}

.b47TT-socialLinks {
    font-size: 18px;
    color: #333;
    padding: 0;
    margin-left: 8px
}

.b47TT-socialLinks:hover {
    text-decoration: none;
    color: #000;
}

#seccessDiv {
    min-height: 400px;
    padding-top: 20%;
}

#seccessDiv i {
    font-size: 100px;
}

.successTxt {
    font-size: 26px;
    font-weight: 300;
}

.disabledForm {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
}

.overlay {
    /*position: absolute;
    width: 100%;
    z-index: 99;
    background: rgba(250, 250, 250, 0.8) none repeat scroll 0px 0px;
    padding: 50px;
    top: 95px;
    height: 64%;
    border-radius: 6px;
    display: block!important;*/

    display: none;
    opacity: 0;
    transition: all 1s linear;
    transform: translateY(0);
}
.show {display: block;
    opacity: 1;
    transition: all 1s linear;
    transform: translateY(100%);
}



/******************************/
::-moz-selection {
    background: white;
}

::selection {
    background: white;
}

/*** form validation classes starts***/
.b47TT-beta-invite-frm .input-group input.error {
    border: solid 1px red;
}

.error {
    color: red;
}
.error label i {color: red;}

.appStoreImg img {
    height: auto;
    width: 100%;
}

#driverform label.error, #b47TT-betaInviteFrm label.error {
    display: none !important;
}

/*** form validation classes ends***/

/*** responsive css starts***/
@media (min-width: 768px){
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin: 20px 0 0 0;
    }
}
@media (max-width: 767px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin: 8px 0 0 25px;
    }
    .mobileOnly {display: block;}
    .mobileOnly hr {border-top: 1px solid #666;}
    .container {
        width: 100%;
    }

    .b47TT-header-quote-quad {
        background: #e7d750;
        bottom: 5%;
        color: #fff;
        font-size: 30px;
        font-weight: 900;
        padding: 20px 30px;
        position: absolute;
        right: 5%;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        width: 92%;
        text-align: center
    }

    .b47TT-yellow-card1, .b47TT-cyan-card1 {
        line-height: 26px;
    }

    .b47TT-about-quad {
        margin: 0;
        border-bottom: 0px solid #e1e1e1;
        padding: 0 25px
    }


    .b47TT-bottomRight-widget1 {
        border-left: 0;
        padding-left: 15px;
        margin-bottom: 20px
    }
    .b47TT-mailToLink, .b47TT-mailToLink:hover {margin-top: 5px;}
}

@media (min-width: 320px) {
    .mobileOnly {display: block;}
    .mobileOnly hr {border-top: 1px solid #666;}
    .b47TT-mApp-img {
        display: none
    }

    .b47TT-about-quad p  {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
    }


    .b47TT-beta-invite-frm {
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .b47TT-beta-invite-frm h1 {
        font-weight: 300;
        margin-bottom: 20px;
        font-size: 20px
    }

    .b47TT-beta-invite-frm h1 img {
        margin-right: 9px;
        display: inline-block;
        width: 40px;
    }

    .b47TT-beta-invite-frm h1 span {
        font-weight: 400;
    }

    .b47TT-input-label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .b47TT-beta-invite-frm .input-group {
        width: 100%;
    }

    .b47TT-beta-invite-frm .input-group input {
        border: solid 1px #949494;
        height: 40px;
        border-radius: 6px !important;
        font-size: 18px;
        font-weight: 300;
    }

    .b47TT-beta-invite-frm button, .b47TT-beta-invite-frm button:hover, .b47TT-beta-invite-frm button:focus {
        border-radius: 6px !important;
        background: #116CB3;
        color: #fff;
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        border: none;
    }
    .b47TT-mailToLink, .b47TT-mailToLink:hover {margin-top: 5px;}

}

@media (min-width: 768px) {
    .mobileOnly {display: none;}
    .b47TT-header-quote-quad {
        max-width: 60%;
        width: auto;
    }

    .b47TT-mApp-img {
        display: block;
    }

    .b47TT-mApp-img img {
        height: auto;
        width: 100%;
    }

    .b47TT-about-quad p {
        font-size: 30px;
        font-weight: 300;
    }
    .b47TT-beta-invite-frm {
        margin-top: 55px;
        margin-bottom: 100px;
    }

    .b47TT-beta-invite-frm h1 {
        font-weight: 300;
        padding-bottom: 0px;
        border-bottom: solid 0px #E1E1E1;
        margin-bottom: 20px;
        font-size: 26px;
    }

    .b47TT-beta-invite-frm h1 img {
        margin-right: 9px;
        display: inline-block;
        width: auto;
    }

    .b47TT-beta-invite-frm h1 span {
        font-weight: 400;
    }

    .b47TT-input-label {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .b47TT-beta-invite-frm .input-group {
        width: 100%;
    }

    .b47TT-beta-invite-frm .input-group input {
        border: solid 1px #949494;
        height: 50px;
        border-radius: 6px !important;

        font-size: 20px;
        font-weight: 300
    }

    .b47TT-beta-invite-frm button, .b47TT-beta-invite-frm button:hover, .b47TT-beta-invite-frm button:focus {
        border-radius: 6px !important;
        background: #116CB3;
        color: #fff;
        height: 50px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }

    .b47TT-bottomRight-widget1 {

        padding-left: 35px
    }
}

@media (min-width: 1024px) {
    .mobileOnly {display: none;}
    .container {
        width: 900px;
    }
    .container.privacy-terms {
        width: 900px;
    }
    .b47TT-mApp-img img {
        height: auto;
        width: auto;
    }

    .b47TT-mApp-img {
        display: block;
    }



    .b47TT-about-quad p {
        font-size: 26px;
        font-weight: 300;
    }

    .b47TT-about-quad hr {
        border-top: 1px solid #e1e1e1;
        margin-top: 60px;
    }

    .b47TT-beta-invite-frm h1 {
        font-weight: 300;
        padding-bottom: 0px;
        border-bottom: solid 0px #E1E1E1;
        margin-bottom: 20px;
        font-size: 26px;
    }

    .b47TT-beta-invite-frm {
        padding: 0 15%;
    }

    .b47TT-beta-invite-frm {
        min-height: 691px;
    }
}

