<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="width: 100%">
      <a class="navbar-brand" href="#/home" ng-if="vm.home">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <a class="navbar-brand" href="#/home" ng-if="vm.videoPlayerCategory">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand" href="#/home" ng-if="vm.videoPlayer">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a ng-href="#">Home</a></li>-->
        <!--<li><a ng-href="#">About</a></li>-->
        <!--<li><a ng-href="#">Contact</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</nav>
