* {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    font-size: 14px;
    background: #560000;
    font-weight: 400;
    margin-top: 5%;
}
ol, ul {
    padding: 0 15px;
}
*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc !important;
    text-transform: capitalize;
}
*::-moz-placeholder { /* Firefox 19+ */
    color: #ccc !important;
    text-transform: capitalize;
}
*:-ms-input-placeholder { /* IE 10+ */
    color: #ccc !important;
    text-transform: capitalize;
}
*:-moz-placeholder { /* Firefox 18- */
    color: #ccc !important;
    text-transform: capitalize;
}

.container {
    background-color: #fff;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 500px;
    width: 360px;
    border: 1px solid #eee;
    margin: 0 auto;
    position: relative;
}

.share-code-section {
    position: absolute;
    bottom: 30px;
    width: 328PX;
    padding: 0 24px;
}

/*.question-section {*/
    /*padding: 30px;*/
    /*background: rgba(255, 255, 255, 0.98);*/
    /*position: absolute;*/
    /*width: 92%;*/
    /*height: 100%;*/
/*}*/
.question-header {
    padding: 15px 20px;
    background: rgba(240, 240, 240, 0.98);
    position: absolute;
    width: 100%;
    /* height: 100%; */
    z-index: 9;
    margin: 0 -15px;
}
.success-section {
    background: rgba(255, 255, 255, 0.98);
    height: 100%;
    padding: 30px;
}
.question-section {
    padding: 80px 10px 0 10px;
    background: rgba(255, 255, 255, 0.98);
    position: absolute;
    width: 92%;
    height: 100%;
}

legend {
    margin-bottom: 1rem;
    border-bottom: 0px solid #e5e5e5;
    font-size: 16px;
    display: block;
    font-weight: 400;
    min-height: 45px;
}
#options-block{ min-height: 130px;}

label {
    display: inline-block;
    margin-bottom: .5rem;
    position: relative;
    padding-left: 20px;
}

[type="checkbox"], [type="radio"] {
    display: inline-block !important;
    position: absolute !important;
    left: 0px !important;
    top: 3px !important;
    margin: 0 !important;
}

.final-submit-btn {
    position: static;
    width: auto;
}

.navbar {
    margin-bottom: 20px;
}
#prevBtn , #nextBtn { cursor: pointer;}

@media only screen and (max-width: 767px) {
    body {
        background: #fff;
        margin-top: 0%;
    }
    .container {
        background-color: #fff;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        height: 500px;
        margin: 0 auto;
        border: none;
        width: 100%;
    }
    .share-code-section {
        position: fixed;
        bottom: 45px;
        width: 328PX;
        padding: 0 24px;
    }
}
@media only screen and (max-width: 425px) {
    body {
        background: #fff;
        margin-top: 0%;
    }
    .container {
        background-color: #fff;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        height: 500px;
        margin: 0 auto;
        border: none;
        width: 100%;
    }
    .share-code-section {
        position: fixed;
        bottom: 8px;
        width: 93%;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        background: #fff;
        margin-top: 0%;
    }

    .container {
        background-color: #fff;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        height: 500px;
        margin: 0 auto;
        border: none;
        width: 100%;
    }
    .share-code-section {
        position: fixed;
        bottom: 28px;
        width: 92%;
        padding:0 26px;
    }

}

@media only screen and (max-width: 320px) {
    body {
        background: #fff;
        margin-top: 0%;
    }

    .container {
        background-color: #fff;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        height: 500px;
        margin: 0 auto;
        border: none;
        width: 100%;
    }
    .share-code-section {
        position: fixed;
        bottom: 82px;
        width: 290PX;
        padding: 0 20px;
    }
}