.carousel-inner-team {
    width: auto;
    margin: 0 auto;
    background: transparent;
    max-width: 100%;
}
.carousel-control {
    width: 3% !important;
}
.carousel-control .glyphicon-chevron-left {
    left: 75% !important;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 45% !important;
}
.carousel-control.left, .carousel-control.right {
    background: none !important;
}
.img-responsive {
    padding: 0 15px;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 42%;
}
/*.multi-item-carousel .carousel-inner > .item {*/
    /*-webkit-transition: 500ms ease-in-out left;*/
    /*transition: 500ms ease-in-out left;*/
/*}*/

/*.multi-item-carousel .carousel-inner .active.left {*/
    /*left: -33%;*/
/*}*/

/*.multi-item-carousel .carousel-inner .active.right {*/
    /*left: 33%;*/
/*}*/

/*.multi-item-carousel .carousel-inner .next {*/
    /*left: 33%;*/
/*}*/

/*.multi-item-carousel .carousel-inner .prev {*/
    /*left: -33%;*/
/*}*/

/*@media all and (transform-3d), (-webkit-transform-3d) {*/
    /*.multi-item-carousel .carousel-inner > .item {*/
        /*-webkit-transition: 500ms ease-in-out all;*/
        /*transition: 500ms ease-in-out all;*/
        /*-webkit-backface-visibility: visible;*/
        /*backface-visibility: visible;*/
        /*-webkit-transform: none !important;*/
        /*transform: none !important;*/
    /*}*/
/*}*/

/*.multi-item-carousel .carouse-control.left,*/
/*.multi-item-carousel .carouse-control.right {*/
    /*background-image: none;*/
/*}*/